{% extends 'home.html' %}
{% block content %}
<center><h2>Doctor Appoinment</h2></center>

<h1>Hello {{doc.name}}</h1>
<h2>Yuur appoinments are:-</h2>
<table border="2">
    <thead>
        <th>S.NO</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Date</th>
    </thead>
    <tbody>
    
    {% for i in doc.appoinments.all %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.doctor}}</td>
        <td>{{i.patient}}</td>
        <td>{{i.date}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}