<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <center><h1 style="color: crimson;">Welcome to Nishant Care</h1></center>
    
    <center class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'patient' %}">Patient</a>
        <a href="{% url 'doctor' %}">Doctor</a>
        <a href="{% url 'appoinment' %}">Appoinment</a>
    </center>
    {% block content %}
    <center><h1>Home Page</h1></center>
    {% endblock %}
</body>
</html>