<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Article</title>
</head>
<body>
    <center>
        <h1 style="color: red ;">All Article Details</h1>
    </center>
        <h2>Total no of articles:-{{details | length}}</h2>
    
    {% if details %}
            {% for i in details %}
            <ul>
                <li><h2>{{i.id}}.{{i.title | truncatechars:40}}</h2></li>
                <button><a href="{% url 'spc_art' i.id %}">Read More</a></button>

                <hr>
            </ul>   
            {% endfor %}
    {% endif %}
    <center>
        <button><a href="{% url 'home' %}">Home</a></button>
        <button><a href="{% url 'form' %}">Form Page</a></button>
        
        
    </center>
    
</body>
</html>