<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Article</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body class="text-bg-dark p-3">
    <center>
        <h1 class="link-warning">Filter Article Details</h1>
    </center>
            
                <h1 id="title">{{data.title}}</h1>
                <h5 id="aut"> By:-{{data.author}} on {{data.date}}</h5>
                <hr>
                <p id="desc">{{data.description}}</p>
                
        
    <center>
        <button class="btn btn-outline-primary"><a href="{% url 'home' %}"class="link-light text-decoration-none">Home</a></button>
        <button class="btn btn-outline-info"><a href="{% url 'form' %}"class="link-light text-decoration-none">Add Article</a></button>
        <button class="btn btn-outline-info"><a href="{% url 'all_article' %}"class="link-light text-decoration-none"c>All Article</a></button>
        <button class="btn btn-outline-warning"><a href="{% url 'upd_art' data.id %}"class="link-light text-decoration-none">Update</a></button>
        <button class="btn btn-outline-danger"><a href="{% url 'del_art' data.id  %}"class="link-light text-decoration-none">Delete</a></button>
    </center>
</body>
</html>