<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Article</title>

</head>
<body>
    <center>
        <h1 style="color: red;">Filter Article Details</h1>
    </center>
            {% for i in details %}
            <ul>
                <li><h1>{{i.title}}</h1></li>
                <li><p>{{i.description}}</p></li>
                <li><h3> By:-{{i.author}}</h3></li>
                <li><h4>Publish on:-{{i.date}}</h4></li>
            </ul>   
            {% endfor %}
    
    

    <center>
        <button><a href="{% url 'home' %}">Home</a></button>
        <button><a href="{% url 'form' %}">Form Page</a></button>
        <button><a href="{% url 'all_article' %}">All Article</a></button>
    </center>
</body>
</html>