<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Article</title>

</head>
<body>
    <center>
        <h1 style="color: red;">Filter Article Details</h1>
    </center>
            
                <h1>{{data.title}}</h1>
                <h3> By:-{{data.author}} on {{data.date}}</h3>
                <hr>
                <p>{{data.description}}</p>
                
        
    <center>
        <button><a href="{% url 'home' %}">Home</a></button>
        <button><a href="{% url 'form' %}">Form Page</a></button>
        <button><a href="{% url 'all_article' %}">All Article</a></button>
        <button><a href="#">Update</a></button>
        <button><a href="#">Delete</a></button>
    </center>
</body>
</html>