<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <center>
        <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h2>Update the movie details...</h2></legend>
            {{form}}
            <button>Update</button>
        </fieldset>
        </form>
    </center>
     <button><a href="{% url 'movies' %}">Back</a></button>
</body>
</html>