{% extends "home.html" %}

{% block content %}
    <center>
        {% if submitted == True %}
        <h1>Thanku For Submit The Blog </h1>
        {% else %}
        <form action="" method="post" class="position-absolute top-50 start-50 translate-middle">
            {% csrf_token %}
            <fieldset class="form-border1">
                <legend style="color: crimson;">Add Blog.....</legend>
                <label for="1">Title
                    <input type="text" name="title">
                </label>
                <br><br>
                <label for="2">Description
                    <textarea name="description" id="2" ></textarea>
                </label>
                <br><br>
                <label for="3">Bloger
                    <input type="text" name="bloger" id="3" >
                </label>
                <br><br>
                <label for="4">Publish on
                    <input type="date" name="date" id="4" >
                </label>
                <br><br>
                <button class="btn btn-outline-success">Submit</button>
            </fieldset>
        </form>
        {% endif %}
    </center>
{% endblock%}