{% extends "home.html" %}

{% block base %}
    <center>
        <h1 class="link-warning">Full Blog Details</h1>
    </center>
            
                <ol>
                    <h1 id="title">{{data.title}}</h1>
                    <h5 id="aut"> By:-{{data.author}} on {{data.date}}</h5>
                    <hr>
                    <p id="desc">{{data.description}}</p>
                </ol>

    <center>
        <button class="btn btn-outline-warning"><a href="{% url 'upblog' data.id %}"class="link-light text-decoration-none">Update</a></button>
        <button class="btn btn-outline-danger"><a href="{% url 'delblog' data.id  %}"class="link-light text-decoration-none">Delete</a></button>
    </center>
{% endblock %}