{% extends "home.html" %}

{% block content %}
    <center>
        <form action="" method="post" class="position-absolute top-50 start-50 translate-middle">
            {% csrf_token %}
            <fieldset class="form-border1">
                <legend style="color: crimson;">Updating the Blog.....</legend>
                <label for="1">Title
                    <input type="text" name="title" value="{{data.title}}">
                </label>
                <br><br>
                <label for="2">Description
                    <textarea name="description" id="2" >{{data.description}}</textarea>
                </label>
                <br><br>
                <label for="3">Bloger
                    <input type="text" name="bloger" id="3" value="{{data.bloger}}">
                </label>
                <br><br>
                <label for="4">Publish on
                    <input type="date" name="date" id="4" value="{{data.date | date:'Y-m-d'}}">
                </label>
                <br><br>
                <button class="btn btn-outline-success rounded-pill">Submit</button>
            </fieldset>
        </form>
    </center>
{% endblock%}