{% extends 'base.html' %}
{% block content %}

<center>
    <h1>All Articles....</h1>
</center>
<h2>Total no of articles:-{{articles | length}}</h2>
<center>
    <form action="" method="get">
        <input type="text" placeholder="Search anything..." name="q" class="p-1">
        <button class="btn btn-outline-success">Search</button>
    </form>
</center>


    {% if articles %}
        {% for i in articles %}
        <div class="card bg-info text-dark mt-4">
            <ul class=" p-3 mb-2 ">
                <h2>{{i.id}}.{{i.title | truncatechars:40}}</h2>
                <button class="btn btn-outline-warning"><a href="{% url 'filart' i.id %}"class="text-body-emphasis text-decoration-none">Read More</a></button>
            </ul>
        </div>
        {% endfor %}
    {% endif%}

        <center class="mt-4">
            <button class="btn btn-outline-success rounded-pill mx-2"><a href="{% url 'addart' %}"class="link-dark text-decoration-none">Add Article</a></button>
            <button class="btn btn-outline-info rounded-pill"><a href="{% url 'delallart' %}"class="link-dark text-decoration-none">Delete All</a></button>
        </center>

{% endblock %}